<mat-card class="search-card">
  <mat-card-header>
    <mat-card-title>Weather Forecast</mat-card-title>
    <mat-card-subtitle>Enter city name and get weather forecast</mat-card-subtitle>
 </mat-card-header>

 <mat-card-content>
<form ngNativeValidate id="fs-frm-1" name="fs-frm" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter City Name Here"
      id="weatherLocation"
      aria-describedby="weatherLocation"
      formControlName="location"
      autofocus
      title="Alphabets only"
      required
      />
    </mat-form-field>
    <button class="my-btn" type="submit" mat-raised-button  color="primary">Check Weather</button>
   </div>
 </form>
</mat-card-content>
</mat-card>

<br /><br />

<mat-card *ngIf="weatherData.length != 0"  class="detail-card">
  <mat-card-header>
    <mat-card-title><strong>Current Weather in {{ this.weatherData?.name }}: </strong></mat-card-title>
 </mat-card-header>
 <mat-card-content>
  <mat-nav-list>
  <a mat-list-item> {{ this.weatherData?.main.temp }}C, Feels Like {{this.weatherData?.main.feels_like}} <strong>&nbsp;&nbsp;{{this.weatherData?.weather[0].main}}</strong>  <div class="w-image"><img id="wicon" src="{{ this.wicon }}" height="150" width="100" alt="Weather icon"></div></a>
  <a mat-list-item class="w-detail"><strong>Weather detail:&nbsp;</strong> {{this.weatherData?.weather[0].description}}</a>
  <a mat-list-item class="w-detail"><strong>Pressure:&nbsp;</strong> {{ this.weatherData?.main.pressure }} <strong>&nbsp;Humidity:&nbsp;</strong> {{ this.weatherData?.main.humidity }} <strong>&nbsp;Visibility:&nbsp;</strong> {{ this.weatherData?.visibility }}</a>
  <a mat-list-item class="w-detail"><strong>Location Searched:&nbsp;</strong> {{ this.weatherData?.name }}</a>
  <!-- <a mat-list-item>{{ this.server_msg }}</a> -->
</mat-nav-list>
</mat-card-content>
</mat-card>



