<mat-card>
  <mat-card-header>
    <mat-card-title>Weather Forecast</mat-card-title>
    <mat-card-subtitle>Enter city name and get weather forecast</mat-card-subtitle>
 </mat-card-header>

 <mat-card-content>
<form id="fs-frm-1" name="fs-frm" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter City Name Here"
      id="weatherLocation"
      aria-describedby="weatherLocation"
      formControlName="location"
      />
    </mat-form-field><br />
    <button type="submit" mat-raised-button>Check Weather Details</button>
   </div>
 </form>
</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Weather Details:</mat-card-title>
 </mat-card-header>
 <mat-card-content>
   <p>{{ this.server_msg }}</p>
  <p><img id="wicon" src="{{ this.wicon }}" alt="Weather icon"> </p>
  <p class="text-center">Current weather: {{this.weatherData?.weather[0].main}} (Temprature: {{this.weatherData?.main.temp}}, Feels Like {{this.weatherData?.main.feels_like}})</p>
  <p class="text-center">Weather detail: {{this.weatherData?.weather[0].description}}</p>
  <p class="text-center">Pressure: {{ this.weatherData?.main.pressure }}</p>
  <p class="text-center">Humidity: {{ this.weatherData?.main.humidity }}</p>
  <p class="text-center">Visibility: {{ this.weatherData?.visibility }}</p>
  <p class="text-center">Location Searched: {{ this.weatherData?.name }}</p>
</mat-card-content>
</mat-card>



