<mat-card>
  <mat-card-header>
    <mat-card-title>Weather Forecast</mat-card-title>
    <mat-card-subtitle>Enter city name and get weather forecast</mat-card-subtitle>
 </mat-card-header>

 <mat-card-content>
<form id="fs-frm-1" name="fs-frm" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter City Name Here"
      id="weatherLocation"
      aria-describedby="weatherLocation"
      formControlName="location"
      />
    </mat-form-field><br />
    <button type="submit" mat-raised-button>Check Weather Details</button>
   </div>
 </form>
</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Weather Details:</mat-card-title>
 </mat-card-header>
 <mat-card-content>
  <p><img src="{{this.image2}}" alt="" name="icon" /></p>
  <p class="text-center">Current weather conditions: {{this.weatherData?.current.weather_descriptions}} ({{this.weatherData?.current.temperature}})</p>
  <p class="text-center">Feels like (in Degrees Celsius): {{ this.weatherData?.current.feelslike }}</p>
  <p class="text-center">Is Day: {{this.weatherData?.current.is_day}}</p>
  <p class="text-center">
    Location Searched: {{ this.weatherData?.location.name }}, {{
    this.weatherData?.location.country }}.
  </p>
</mat-card-content>
</mat-card>



